.husstander{
    margin-top:10px;
    margin-bottom: 20px;
}
.medlemmer{
    margin-top: 10px;
    margin-bottom: 10px;
}
.medlemmer2{
    margin-top: 10px;
    margin-bottom: 10px;
}

#navnHusstand{
    border-style: solid;
    border-color: darkorange;
}
#navn{
    border-stye: solid;
    border-color: darkorange;
}
#navn2{
    border-style: solid;
    border-color: darkorange;
}
