.nytt-gjøremål{
    width: 300px;
    heigth: 300px;
    margin-right: 100px;
    margin-left: 200px;
    margin-top: 52px;
}

.eksisterende-gjøremål{
    width: 300px;
    heigth: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 52px;
}

.mine-checkbox{
    border-radius: 25px;
    border: 2px solid #FFA500;
    padding: 20px;
    width: 250px;
    height: 150px;

}