#plassere{
    display: block;
    margin-top: 250px;
    margin-bottom: 100px;
    padding-left: 250px;
    margin-left: 500px;
}
div {
    display: block;
    /*width: 500px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}