#halvesiden {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bestille{
    width: 150px;
    margin-top: 10px;
}
#siden{
    width:150px;
    margin-top:1000px;
    margin-left: 100px;
}