#halvesiden{
    width: 100%;
    padding-right: 100px;
    padding-left: 200px;
    margin-left: 200px;
}
div {
    display: block;
    /*width: 500px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    border: 0px;
}