.glyphicon-plus-sign{
    font-size: 30px;
}

.husstander{
    width:240px;
    height: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.størrelse{
    margin-left:20px;
    width:200px;
    margin-top:20px;
}

#navn {
    margin-left: 20px;
    margin-top: 20px;
}

#epost {
    margin-right: 20px;
    margin-top: 20px;
}